html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;

    background-color: rgba(0,0,0,0.65);

    z-index: 1;
}

.fighter-modal {
    position: fixed;
    max-width: 400px;
    max-height: 400px;
    width: 50%;
    height: 50vh;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    border: 1px solid #e8e8e8;
    border-radius: 15px;

    z-index: 999;
}